<div class="line-item-date">
  <div class="line-item-date__header">
    <h2 class="line-item-date__title">
      <%= l(line_item_date.date, format: :long) %>
    </h2>

    <div class="line-item-date_actions">
      <%= button_to "Delete", [quote, line_item_date], method: :delete, class: "btn btn--primary" %>
      <%= link_to "Edit", [:edit, quote, line_item_date], class: "btn btn--primary" %>
    </div>
  </div>
</div>